.SideNavBarPro {
    position: fixed;
    width: 230px;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    position: relative;
  }
  
  .BottomSection{
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
  }
  
  .link{
      color: #0C6635 !important;
  
      text-decoration: none !important;
      font-size: 16px;
  }
  
  li:hover{
      transition: all .5s;
      background-color:#a7d1ba;
      cursor: pointer;
  }
  