.ChatPage {

}

.user-section{
    background-color: rgb(158, 207, 164);
    height: 90vh;
}
.message-section{
    display: flex;
    background-color: #e0e0e0;
    align-items: center;
    align-content: center;
    text-align: center;
}

.active{
    background-color: #e9e9e9 !important;
    color: green !important;
}